@import url(variables.css);

/* container, card, info title links*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color-white);
    background: var(--color-grey900)
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: var(--color-grey800);
    padding: 20px;
    border-radius: 10px;
    width: 60%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .info img {
        border-radius: 50%;
        width: 25%;
        margin-bottom: 15px;
    }

    .info h3 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .info p {
        color: var(--color-green);
        margin-bottom: 20px;
        font-weight: 400;
    }

.title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 12px;
    color: lightgrey;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

    /* applies to a tags that are only direct children within the element with the class 'links' */
    .links > a {
        color: var(--color-white);
        background: var(--color-grey700);
        width: 100%;
        text-decoration: none;
        padding: 10px 20px;
        text-align: center;
        border-radius: 8px;
        font-weight: 500;
    }