/* Root Variables & Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey700: hsl(0, 0%, 20%);
    --color-grey800: hsl(0, 0%, 12%);
    --color-grey900: hsl(0, 0%, 8%);

    --font-size: 14px;

    --font-family: 'Inter', sans-serif;
}